<nav>
  <ul>
    <li>
      <a href="https://adalab.es/" title="Follow us in Twitter" target="_blank"
        >Twitter
      </a>
    </li>
    <li>
      <a
        href="https://adalab.es/"
        title="Follow us in Instagram"
        target="_blank"
        >Instagram
      </a>
    </li>
    <li>
      <a
        href="https://adalab.es/"
        title="Follow us in Mastodon.social"
        target="_blank"
        >Mastodon.social
      </a>
    </li>
  </ul>
</nav>
