<nav>
  <ul>
    <li>
      <a href="https://adalab.es/" title="Go to articles" target="_blank"
        >Articles
      </a>
    </li>
    <li>
      <a href="https://adalab.es/" title="Go to books" target="_blank"
        >Books
      </a>
    </li>
    <li>
      <a href="https://adalab.es/" title="Go to events" target="_blank"
        >Events
      </a>
    </li>
    <li>
      <a href="https://adalab.es/" title="Go to reasons" target="_blank"
        >Reasons
      </a>
    </li>
    <li>
      <a href="https://adalab.es/" title="Go to tips" target="_blank">Tips </a>
    </li>
  </ul>
</nav>
