<nav class="footer__navRrss">
  <ul>
    <li class="footer__navList__item">
      <a
        class="footer__navList__item--link"
        href="https://adalab.es/"
        title="Follow us in Twitter"
        target="_blank"
        >Twitter
      </a>
    </li>
    <li class="footer__navList__item">
      <a
        class="footer__navList__item--link"
        href="https://adalab.es/"
        title="Follow us in Instagram"
        target="_blank"
        >Instagram
      </a>
    </li>
    <li class="footer__navList__item">
      <a
        class="footer__navList__item--link"
        href="https://adalab.es/"
        title="Follow us in Mastodon.social"
        target="_blank"
        >Mastodon.social
      </a>
    </li>
  </ul>
</nav>
