<section class="section2" id="3reasons">
  <article>
    <h2 class="section2__title">3 reasons to purchase</h2>
    <div class="section2__articlesBox">
      <article class="section2__articlesBox__art1">
        <h3 class="section2__articlesBox__art1--title">Ut sed metus</h3>
        <p class="section2__articlesBox__art1--text">
          Lorem ipsum dolor sit amet, consecteur.
        </p>
      </article>
      <article class="section2__articlesBox__art2">
        <h3 class="section2__articlesBox__art2--title">Curabitur ac erat</h3>
        <p class="section2__articlesBox__art2--text">
          Mauris mattis urna quis lorem molestie.
        </p>
      </article>
      <article class="section2__articlesBox__art3">
        <h3 class="section2__articlesBox__art3--title">Morbi dictum</h3>
        <p class="section2__articlesBox__art3--text">
          Aliquam in dolor et dolor tincidunt.
        </p>
      </article>

      <div class="section2__articlesBox__button">
        <a
          class="section2__articlesBox__button--link"
          href="https://adalab.es/"
          target="_blank"
          title="Know more reasons"
          >More reasons
        </a>
      </div>
    </div>
  </article>
</section>
