// fonts
$font-main: "Roboto", sans-serif; //regular400, medium500
$font-title: "Roboto Slab", sans-serif; //bold

// colors
$color-white: #ffffff;
$color-hamburguer-menu: #0271bc;
$color-lightblue: #8ccbea;
$color-orange: #f26002;
$color-iceblue: #eff9ff;
// $color-secondary: #999;
