.footer {
  background: $color-footer;
  font-family: $font-main;
  font-weight: 400;
  color: $color-white;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;

  &__arrow {
    background: $color-white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    transform: translate(0, -50%);
    &:hover {
      animation: moveArrow 1s;
      transform: translate(0, -100%);
      background-color: $color-footer;
    }
  }

  &__navList {
    margin: 60px 0 30px 0;
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      &--link {
        text-decoration: none;
        color: $color-white;
      }
    }
  }

  &__navRrss {
    margin-bottom: 30px;
  }

  &__small {
    text-transform: lowercase;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--heart {
      background: chocolate;
      color: $color-heart;
    }

    &__copyRight,
    &__weLove {
      font-size: 0.875rem; //14px
    }
    &__weLove {
      &--heart {
        color: $color-heart;
      }
    }
  }
}
@keyframes moveArrow {
  10%,
  90% {
    transform: translate(2px, 0);
  }

  20%,
  80% {
    transform: translate(-2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate(2px, 0);
  }

  40%,
  60% {
    transform: translate(-2px, 0);
  }
}
@media all and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;

    &__arrow {
      align-self: flex-start;
    }

    &__navList {
      width: 210px;
      order: 1;
      &__item {
        flex-direction: row;
        justify-content: flex-start;
      }
    }

    &__navRrss {
      width: 210px;
      margin-bottom: 30px;
      order: 1;
    }

    &__small__copyRight,
    &__small__weLove {
      width: 210px;
    }
  }
}
@media all and (min-width: 1200px) {
  .footer {
    justify-content: center;

    &__navList {
      width: 160px;
    }
  }
}
