.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url(../images/cover.jpg);
  background-position: top center;
  // background-size: 300%; //tamaño img ok pero no 100vh
  background-size: cover;
  height: 100vh;

  &__linkmenu {
    background: $color-hamburguer-menu;
    width: 44px;
    height: 44px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    :hover {
      background: $color-footer;
      transition: background-color ease 2s;
    }

    &--img {
      padding: 15px 14px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 290px;
    margin-bottom: 53px;
    color: $color-white;

    &--title {
      text-align: center;
      text-transform: uppercase;
      font-size: 2.625rem; //42px//
      font-family: $font-title;
      line-height: 55px;
    }
    &--paragraph {
      margin-top: 10px;
      font-family: $font-main;
    }

    &--arrow {
      background-color: $color-white;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 45px;
      &:hover {
        animation: moveArrow 1s; //@keyframes está en el footer
      }
      &--link {
        padding: 6px;
      }
    }
  }
}
@media all and (min-width: 768px) {
  .header {
    &__text {
      width: 690px;
      margin-bottom: 45px;

      &--title {
        font-size: 5rem; //80px
        line-height: 106px;
      }
      &--paragraph {
        margin-top: 20px;
        font-size: 1.5rem; //24px
      }
    }
    &__arrow {
      margin-top: 30px;
    }
  }
}
@media all and (min-width: 1200px) {
  .header {
    &__text {
      width: 730px;
      margin-bottom: 13px;

      &--title {
        font-size: 6.25rem; //100px
        line-height: 132px;
      }
      &--paragraph {
        margin-top: 0;
      }
    }
  }
}
