.header {
  background: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/cover.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 300%; //tamaño img ok pero no 100vh
  background-size: cover;
  height: 100vh;

  &__linkmenu {
    background: $color-hamburguer-menu;
    width: 44px;
    height: 44px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;

    &--img {
      padding: 15px 14px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 290px;
    margin-top: 284px;
    color: $color-white;

    &--title {
      text-align: center;
      text-transform: uppercase;
      // font-family: $font-main;
      font-weight: bold;
      font-size: 2.625rem; //42px//
      font-family: $font-title;
      line-height: 55px;
    }
    &--paragraph {
      margin-top: 10px;
      font-family: $font-main;
    }
  }
  &__arrow {
    background-color: $color-white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
  }
}
